@font-face {
  font-family: 'robo';
  src: url('fonts/Roboto-Light.eot');
  src: url('fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Roboto-Light.woff') format('woff'), url('fonts/Roboto-Light.ttf') format('truetype');
}
.container-fluid {
  max-width: 1180px;
  font-family: 'robo', 'Arial Narrow';
}
.body {
  background: white;
  margin-left: 10px;
  margin-right: 10px;
}
.centerTextAlign {
  text-align: center;
}
.centerDivsAlign {
  display: table;
  margin-right: auto;
  margin-left: auto;
}
.rightTextAlign {
  text-align: right;
}
.leftTextAlign {
  text-align: left;
}
.marginTop10 {
  margin-top: 10px;
}
.marginBottom10 {
  margin-bottom: 10px;
}
.marginTopBottom {
  margin-top: 40px;
  margin-bottom: 40px;
}
.marginSides {
  padding-left: 40px;
  padding-right: 40px;
}
.marginSlick {
  margin-left: 10px;
  margin-right: 10px;
}
.lineBackgroundColor {
  background-color: #f1f1f1;
  height: 3px;
}
.lineTwoBackgroundColor {
  background-color: grey;
  height: 2px;
}
.navbar {
  margin-bottom: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
}
.navbar-default {
  background-color: white;
  border-color: white;
}
.productsTitle {
  color: #BDBDBD;
  font-weight: bold;
}
.footer {
  background-color: #f1f1f1;
}
.footerFont1 {
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  height: 150px;
  width: 33%;
}
.textFont {
  font-size: 18px;
  font-weight: bold;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  font-size: 34px;
  line-height: 1.33;
  border-radius: 50px;
}
.overlay {
  color: #fff;
  position: absolute;
  z-index: 12;
  top: 0;
  left: 43%;
  width: auto;
  text-align: center;
  background: #BDBDBD;
  font-size: 28px;
  font-family: 'robo', 'Arial Narrow';
  font-weight: 900;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  /* use this, or not */
  margin: auto;
}
.slick-track {
  display: flex;
}
.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
.slick-prev:before,
.slick-next:before {
  font-family: "Glyphicons Halflings", "slick", sans-serif;
  font-size: 20px;
  color: grey;
}
.slick-prev:before {
  content: "\e257";
}
.slick-next:before {
  content: "\e258";
}
.thumbnail {
  width: 370px;
  height: 560px;
  text-align: center;
}
.thumbnailImg {
  width: auto;
  height: 480px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textProductThumbnail {
  position: absolute;
  bottom: 5;
  left: 0;
  right: 0;
}
.title {
  font-size: 25px;
}
.texts {
  font-size: 15px;
}
@media screen and (min-width: 767px) {
  #exampleModal .modal-dialog {
    width: 75%;
  }
}
/* Large desktop 
@media (min-width: 1200px) { ... }
*/
@media (min-width: 979px) {
  .navbar-brand {
    display: none;
  }
  #numberMobile {
    display: none;
  }
  #logotypnologo {
    display: none;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .navbar-brand {
    display: none;
  }
  #numberMobile {
    display: none;
  }
  #logotypnologo {
    display: none;
  }
  .navbar {
    margin-bottom: 0;
    font-size: 13px;
  }
  .footerFont1 {
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    height: 150px;
    width: 50%;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #banner {
    display: none;
  }
  #numberDesktop {
    display: none;
  }
  #logotyp {
    display: none;
  }
  #doubleLine {
    display: none;
  }
  .overlay {
    font-size: 15px;
  }
  .footerFont1 {
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    height: 150px;
    width: 100%;
  }
}
@media (max-width: 580px) {
  .thumbnail {
    width: 370px;
    height: 510px;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 430px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* Landscape phones and down 
@media (max-width: 480px) { ... }
*/
