@font-face {
    font-family: 'robo';
    src: url('fonts/RobotoLight.eot');
    src: url('fonts/RobotoLight.eot?#iefix') format('embedded-opentype'),
         url('fonts/RobotoLight.woff2') format('woff2'),
         url('fonts/RobotoLight.woff') format('woff'),
         url('fonts/RobotoLight.ttf') format('truetype'),
         url('fonts/RobotoLight.svg#RobotoLight') format('svg');
}


//text on subpages
.title{
font-size: 25px;
}
.texts{
font-size: 15px;
text-indent: 5%;
}
.textSide{
    font-size: 18px;
    font-weight: bold;
}
.productsTitles{
    font-size: 34px;
    text-align: center;
}
