.footer{
    background-color: @thirdGray;
}
.footerFont1{
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
     overflow: hidden;
     height: 150px;
     width: 33%;
     text-align: left;
}
.footerBox{
 display: flex;
}
.footerBoxInner{
        display: flex;
        height: auto;
        align-items: center; //optional
        justify-content: center; //optional
}

//Cricle buttons on footer
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background: @footerButtonGrey;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  background: @footerButtonGrey;
}
.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  font-size: 34px;
  line-height: 1.33;
  border-radius: 50px;
  background: @footerButtonGrey;
}
.socialFooter ul{
  list-style-type: none;
}
.social{
  color: @secondGrey;

}
ul {
  list-style-type: none;
}
.social li {
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 0 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}