@font-face {
  font-family: 'robo';
  src: url('fonts/RobotoLight.eot');
  src: url('fonts/RobotoLight.eot?#iefix') format('embedded-opentype'), url('fonts/RobotoLight.woff2') format('woff2'), url('fonts/RobotoLight.woff') format('woff'), url('fonts/RobotoLight.ttf') format('truetype'), url('fonts/RobotoLight.svg#RobotoLight') format('svg');
}
.title {
  font-size: 25px;
}
.texts {
  font-size: 15px;
  text-indent: 5%;
}
.textSide {
  font-size: 18px;
  font-weight: bold;
}
.buttonTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 1000;
}
.container-fluid {
  max-width: 1180px;
  font-family: 'robo', Fallback, sans-serif;
}
.body {
  font-family: 'robo', Fallback, sans-serif;
  background: white;
  margin-left: 10px;
  margin-right: 10px;
}
.centerTextAlign {
  text-align: center;
}
.centerDivsAlign {
  display: table;
  margin-right: auto;
  margin-left: auto;
}
.rightTextAlign {
  text-align: right;
}
.leftTextAlign {
  text-align: left;
}
.marginTop10 {
  margin-top: 10px;
}
.marginBottom10 {
  margin-bottom: 10px;
}
.marginTopBottom {
  margin-top: 40px;
  margin-bottom: 40px;
}
.marginSides {
  padding-left: 40px;
  padding-right: 40px;
}
.marginSlick {
  margin-left: 10px;
  margin-right: 10px;
}
.lineBackgroundColor {
  background-color: #f1f1f1;
  height: 3px;
}
.lineTwoBackgroundColor {
  background-color: grey;
  height: 2px;
}
.navbar {
  margin-bottom: 0;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
}
.navbar-default {
  background-color: white;
  border-color: white;
}
.footer {
  background-color: #cbcfce;
}
.footerFont1 {
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  height: 150px;
  width: 33%;
  text-align: left;
}
.footerBox {
  display: flex;
}
.footerBoxInner {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background: #dcdde1;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  background: #dcdde1;
}
.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  font-size: 34px;
  line-height: 1.33;
  border-radius: 50px;
  background: #dcdde1;
}
.socialFooter ul {
  list-style-type: none;
}
.social {
  color: grey;
}
ul {
  list-style-type: none;
}
.social li {
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  /* use this, or not */
  margin: auto;
}
.overlay {
  color: #fff;
  position: absolute;
  z-index: 12;
  top: 0;
  left: 45%;
  width: auto;
  text-align: center;
  background: #cbcfce;
  font-size: 28px;
  font-weight: 900;
}
.productsTitle {
  color: #acadb1;
  font-weight: bold;
  font-size: 34px;
}
.slick-track {
  display: flex;
}
.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
.slick-prev:before,
.slick-next:before {
  font-family: "Glyphicons Halflings", "slick", sans-serif;
  font-size: 20px;
  color: grey;
}
.slick-prev:before {
  content: "\e257";
}
.slick-next:before {
  content: "\e258";
}
.thumbnail {
  width: 370px;
  height: 560px;
  text-align: center;
}
.thumbnailImg {
  width: auto;
  height: 480px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textProductThumbnail {
  position: absolute;
  bottom: 5;
  left: 0;
  right: 0;
}
@media screen and (min-width: 767px) {
  #exampleModal .modal-dialog {
    width: 75%;
  }
}
/*
@media (min-width: 767px){    }
*/
/* Large desktop 
@media (min-width: 1200px) { ... }
*/
@media (min-width: 979px) {
  .navbar-brand {
    display: none;
  }
  #numberMobile {
    display: none;
  }
  #logotypnologo {
    display: none;
  }
  #br {
    display: none;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .navbar-brand {
    display: none;
  }
  #numberMobile {
    display: none;
  }
  #logotypnologo {
    display: none;
  }
  .navbar {
    margin-bottom: 0;
    font-size: 11px;
  }
  .footerFont1 {
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    height: 150px;
    width: 50%;
  }
  #br {
    display: none;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #banner {
    display: none;
  }
  #numberDesktop {
    display: none;
  }
  #logotyp {
    display: none;
  }
  #doubleLine {
    display: none;
  }
  .overlay {
    font-size: 15px;
    left: 44%;
  }
  .footerFont1 {
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    height: 150px;
    width: 100%;
    text-align: center;
  }
  .productsTitle {
    font-size: 15px;
  }
}
@media (max-width: 580px) {
  .thumbnail {
    width: 370px;
    height: 510px;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 430px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .overlay {
    font-size: 15px;
    left: 43%;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .overlay {
    font-size: 15px;
    left: 40%;
  }
}
@media (max-width: 300px) {
  .thumbnail {
    width: 370px;
    height: 410px;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 330px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
