@font-face {
  font-family: 'robo';
  src: url('../fonts/RobotoLight.eot');
  src: url('../fonts/RobotoLight.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoLight.woff2') format('woff2'), url('../fonts/RobotoLight.woff') format('woff'), url('../fonts/RobotoLight.ttf') format('truetype'), url('../fonts/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face {
  font-family: 'logo';
  src: url('../fonts/EAWPolskieznaki.eot');
  src: url('../fonts/EAWPolskieznaki.eot') format('embedded-opentype'), url('../fonts/EAWPolskieznaki.woff2') format('woff2'), url('../fonts/EAWPolskieznaki.woff') format('woff'), url('../fonts/EAWPolskieznaki.ttf') format('truetype'), url('../fonts/EAWPolskieznaki.svg#EAWPolskieznaki') format('svg');
}
@font-face {
  font-family: 'logotext';
  src: url('../fonts/LOGOWYPE_NIONETRO_JKA_T2.eot');
  src: url('../fonts/LOGOWYPE_NIONETRO_JKA_T2.eot') format('embedded-opentype'), url('../fonts/LOGOWYPE_NIONETRO_JKA_T2.woff2') format('woff2'), url('../fonts/LOGOWYPE_NIONETRO_JKA_T2.woff') format('woff'), url('../fonts/LOGOWYPE_NIONETRO_JKA_T2.ttf') format('truetype'), url('../fonts/LOGOWYPE_NIONETRO_JKA_T2.svg#LOGOWYPE_NIONETRO_JKA_T2') format('svg');
}
@font-face {
  font-family: 'impact';
  src: url('../fonts/impact.eot');
  src: url('../fonts/impact.eot') format('embedded-opentype'), url('../fonts/impact.woff2') format('woff2'), url('../fonts/impact.woff') format('woff'), url('../fonts/impact.ttf') format('truetype'), url('../fonts/impact.svg#impact') format('svg');
}
.title {
  font-size: 25px;
}
.texts {
  font-size: 15px;
  padding: 0.5cm 2cm;
}
.textSide {
  font-size: 18px;
  font-weight: bold;
}
.productsTitles {
  font-size: 28px;
  text-align: center;
}
.productsTitleProducts {
  color: #cbcfce;
  font-weight: bold;
  font-size: 28px;
}
.fontLogotyp1 {
  font-family: 'logo', Fallback, sans-serif;
  font-size: 30px;
}
.fontLogotyp2 {
  font-family: 'logotext', Fallback, sans-serif;
  font-size: 200px;
}
.textsBackgroud {
  background-color: #f1f1f1;
}
.facebook {
  font-size: 2em;
}
.buttonTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 1000;
}
.container-fluid {
  max-width: 1180px;
  font-family: 'robo', Fallback, sans-serif;
}
.body {
  background: white;
  margin-left: 10px;
  margin-right: 10px;
}
.centerTextAlign {
  text-align: center;
}
.centerDivsAlign {
  display: table;
  margin-right: auto;
  margin-left: auto;
}
.rightTextAlign {
  text-align: right;
}
.leftTextAlign {
  text-align: left;
}
.marginTop10 {
  margin-top: 10px;
}
.marginTop40 {
  margin-top: 40px;
}
.marginBottom10 {
  margin-bottom: 10px;
}
.marginBottom40 {
  margin-bottom: 40px;
}
.marginTopBottom {
  margin-top: 40px;
  margin-bottom: 40px;
}
.marginTopBottom10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.marginSides {
  padding-left: 40px;
  padding-right: 40px;
}
.marginSides10 {
  padding-left: 10px;
  padding-right: 10px;
}
.marginSlick {
  margin-left: 10px;
  margin-right: 10px;
}
.lineBackgroundColor {
  background-color: #f1f1f1;
  height: 3px;
}
.lineTwoBackgroundColor {
  background-color: grey;
  height: 2px;
}
.navbar {
  margin-bottom: 0;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
}
.navbar-default {
  background-color: white;
  border-color: white;
}
.footer {
  background-color: #cbcfce;
}
.footerFont1 {
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  height: 150px;
  width: 33%;
  text-align: left;
}
.footerBox {
  display: flex;
}
.footerBoxInner {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  background: #dcdde1;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  background: #dcdde1;
}
.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  font-size: 34px;
  line-height: 1.33;
  border-radius: 50px;
  background: #dcdde1;
}
.socialFooter ul {
  list-style-type: none;
}
.social {
  color: grey;
}
ul {
  list-style-type: none;
}
.social li {
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  /* use this, or not */
  margin: auto;
}
.overlay {
  color: #fff;
  position: absolute;
  z-index: 12;
  top: 1vw;
  float: right;
  background: #97aebe;
  font-size: 3vw;
  font-weight: bold;
}
.productsTitle {
  color: white;
  font-weight: bold;
  font-size: 2.5vw;
  background: #97aebe;
}
.slick-track {
  display: flex;
}
.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
.slick-prev:before,
.slick-next:before {
  font-family: "Glyphicons Halflings", "slick", sans-serif;
  font-size: 20px;
  color: grey;
}
.slick-prev:before {
  content: "\e257";
}
.slick-next:before {
  content: "\e258";
}
.thumbnail {
  width: 370px;
  height: 560px;
  text-align: center;
}
.thumbnailImg {
  width: auto;
  height: 480px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textProductThumbnail {
  position: absolute;
  bottom: 15;
  left: 0;
  right: 0;
}
.textProductThumbnail1 {
  font-size: 20px;
}
.textProductThumbnail2 {
  font-size: 20px;
}
@media screen and (min-width: 767px) {
  #exampleModal .modal-dialog {
    width: 75%;
  }
}
/*
@media (min-width: 767px){    }
*/
/* Large desktop 
@media (min-width: 1200px) { ... }
*/
@media (min-width: 979px) {
  .navbar-brand {
    display: none;
  }
  #numberMobile {
    display: none;
  }
  #br {
    display: none;
  }
  .middleVerticalAlign {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .thumbnail {
    width: 270px;
    height: 420px;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 340px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .overlay {
    font-size: 30px;
  }
  .productsTitle {
    font-size: 30px;
  }
}
@media (min-width: 800px) and (max-width: 979px) {
  .navbar-brand {
    display: none;
  }
  #numberMobile {
    display: none;
  }
  .navbar {
    margin-bottom: 0;
    font-size: 11px;
  }
  .footerFont1 {
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    height: 150px;
    width: 50%;
  }
  #br {
    display: none;
  }
  .middleVerticalAlign {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .thumbnail {
    width: 270px;
    height: 46vw;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 35vw;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 799px) {
  #banner {
    display: none;
  }
  #numberDesktop {
    display: none;
  }
  #doubleLine {
    display: none;
  }
  .footerFont1 {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    height: 150px;
    width: 100%;
    text-align: center;
  }
  .productsTitle {
    font-size: 15px;
  }
  .productsTitles {
    font-size: 15px;
  }
  .thumbnail {
    width: 270px;
    height: 56vw;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 50vw;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .textProductThumbnail {
    position: absolute;
    bottom: 18;
    left: 0;
    right: 0;
  }
  .textProductThumbnail1 {
    font-size: 12px;
  }
  .textProductThumbnail2 {
    font-size: 12px;
  }
}
@media (max-width: 680px) {
  #banner {
    display: none;
  }
  #numberDesktop {
    display: none;
  }
  #doubleLine {
    display: none;
  }
  .footerFont1 {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    height: 150px;
    width: 100%;
    text-align: center;
  }
  .productsTitle {
    font-size: 15px;
  }
  .productsTitles {
    font-size: 15px;
  }
  .thumbnail {
    width: 270px;
    height: 60vw;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 52vw;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .textProductThumbnail {
    position: absolute;
    bottom: 18;
    left: 0;
    right: 0;
  }
  .textProductThumbnail1 {
    font-size: 12px;
  }
  .textProductThumbnail2 {
    font-size: 12px;
  }
}
@media (max-width: 580px) {
  .thumbnail {
    width: 270px;
    height: 56vw;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 50vw;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .textProductThumbnail {
    position: absolute;
    bottom: 18;
    left: 0;
    right: 0;
  }
  .textProductThumbnail1 {
    font-size: 10px;
  }
  .textProductThumbnail2 {
    font-size: 10px;
  }
}
@media (max-width: 481px) {
  .thumbnail {
    width: 270px;
    height: 56vw;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 45vw;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .textProductThumbnail {
    position: absolute;
    bottom: 18;
    left: 0;
    right: 0;
  }
  .textProductThumbnail1 {
    font-size: 10px;
  }
  .textProductThumbnail2 {
    font-size: 10px;
  }
}
@media (max-width: 361px) {
  .thumbnail {
    width: 170px;
    height: 190px;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 150px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .textProductThumbnail {
    position: absolute;
    bottom: 16;
    left: 0;
    right: 0;
  }
  .textProductThumbnail1 {
    font-size: 9px;
  }
  .textProductThumbnail2 {
    font-size: 9px;
  }
}
@media (max-width: 280px) {
  .thumbnail {
    width: 270px;
    height: 260px;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 230px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .textProductThumbnail {
    position: absolute;
    bottom: 16;
    left: 0;
    right: 0;
  }
  .textProductThumbnail1 {
    font-size: 9px;
  }
  .textProductThumbnail2 {
    font-size: 9px;
  }
}
textarea:focus,
input:focus {
  outline: 0;
}
.btn:active,
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none !important;
}
.img-thumbnail {
  border-color: #f1f1f1;
}
.mainImageSize {
  height: 60%;
  width: auto;
}
