@media screen and (min-width: 767px) {
  #exampleModal .modal-dialog {
    width: 75%;
  }
}
/*
@media (min-width: 767px){    }
*/
/* Large desktop 
@media (min-width: 1200px) { ... }
*/
@media (min-width: 979px) {
  .navbar-brand {
    display: none;
  }
  #numberMobile {
    display: none;
  }
  #logotypnologo {
    display: none;
  }
  #br {
    display: none;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .navbar-brand {
    display: none;
  }
  #numberMobile {
    display: none;
  }
  #logotypnologo {
    display: none;
  }
  .navbar {
    margin-bottom: 0;
    font-size: 11px;
  }
  .footerFont1 {
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    height: 150px;
    width: 50%;
  }
  #br {
    display: none;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #banner {
    display: none;
  }
  #numberDesktop {
    display: none;
  }
  #logotyp {
    display: none;
  }
  #doubleLine {
    display: none;
  }
  .overlay {
    font-size: 15px;
    left: 44%;
  }
  .footerFont1 {
    font-size: 11px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    height: 150px;
    width: 100%;
    text-align: center;
  }
  .productsTitle {
    font-size: 15px;
  }
}
@media (max-width: 580px) {
  .thumbnail {
    width: 370px;
    height: 510px;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 430px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .overlay {
    font-size: 15px;
    left: 43%;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .overlay {
    font-size: 15px;
    left: 40%;
  }
}
@media (max-width: 300px) {
  .thumbnail {
    width: 370px;
    height: 410px;
    text-align: center;
  }
  .thumbnailImg {
    width: auto;
    height: 330px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
