
<div class="row">
        <div class="col-xs-12 col-md-12 centerTextAlign footerFont1"><br><p>PRODUKTY</p><br></div>
    </div>

<div class="car marginTopBottom marginSlick"> 
  
  <div class="col-sm-6 col-md-4 ">
    <div class="thumbnail">
      <img src="img/product_01.jpg" alt="...">
      <div class="caption centerTextAlign">
        <h3>Thumbnail label</h3> 
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img/product_02.jpg" alt="...">
      <div class="caption centerTextAlign">
        <h3>Thumbnail label</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img/product_03.jpg" alt="...">
      <div class="caption centerTextAlign">
        <h3>Thumbnail label</h3> 
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img/product_01.jpg" alt="...">
      <div class="caption centerTextAlign">
        <h3>Thumbnail label</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img/product_02.jpg" alt="...">
      <div class="caption centerTextAlign">
        <h3>Thumbnail label</h3>   
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="img/product_03.jpg" alt="...">
      <div class="caption centerTextAlign">
        <h3>Thumbnail label</h3>
      </div>
    </div>
  </div>

</div>