<div class="row footer jumbotron marginTopBottom font"> 
 
        <div class="col-xs-12 col-md-4 footerFont1">
            <button type="button" class="btn btn-default btn-circle btn-xl"><i class="glyphicon glyphicon-road"></i></button>
            <d>Dostawa i transport</d>
            </div>
        <div class="col-xs-12 col-md-4 footerFont1">
            <button type="button" class="btn btn-default btn-circle btn-xl"><i class="glyphicon glyphicon-earphone"></i></button>
            <d>Masz pytania? Zadzwoń</d>
            </div>
        <div class="col-xs-12 col-md-4 footerFont1">
            <button type="button" class="btn btn-default btn-circle btn-xl" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap"><i class="glyphicon glyphicon-envelope"></i></button>
            <d>Formularz kontaktowy</d>
            </div>

        <div class="col-xs-12 col-md-12 lineTwoBackgroundColor marginTopBottom">
            </div>

        <div class="col-xs-12 col-md-4 footerFont1">
            <button type="button" class="btn btn-default btn-circle btn-xl"><i class="glyphicon glyphicon-repeat"></i></button>
            <d>Reklamacje i zwroty</d>
            </div>
        <div class="col-xs-12 col-md-4 footerFont1">
            <button type="button" class="btn btn-default btn-circle btn-xl"><i class="glyphicon glyphicon-list-alt"></i></button>
            <d>Regulamin</d>
            </div>
        <div class="col-xs-12 col-md-4 footerFont1">
            <button type="button" class="btn btn-default btn-circle btn-xl"><i class="glyphicon glyphicon-globe"></i></button>
            <d>Adres i kontakt</d>
            </div>
 
</div>  