<div class="row footer jumbotron marginTopBottom centerTextAlign"> 
 
        <a href="delivery.php"><div class="col-xs-12 col-sm-6 col-md-4 footerFont1 ">
            <button type="button" class="btn btn-default btn-circle btn-xl"><img src="img/dostawa.png"></button>
            DOSTAWA I TRANSPORT
            </div></a>
        <div class="col-xs-12 col-sm-6 col-md-4 footerFont1 ">
            <button type="button" class="btn btn-default btn-circle btn-xl"><i class="glyphicon glyphicon-earphone"></i></button>
            MASZ PYTANIA? ZADZWOŃ
            </div>
        <div class="col-xs-12 col-sm-6 col-md-4 footerFont1 ">
            <button type="button" class="btn btn-default btn-circle btn-xl" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap"><i class="glyphicon glyphicon-envelope"></i></button>
            FORMULARZ KONTAKTOWY
            </div>

      <!--  <div class="col-xs-12 col-md-12 lineTwoBackgroundColor marginTopBottom">
            </div> -->

        <a href="returns.php"><div class="col-xs-12 col-sm-6 col-md-4 footerFont1 ">
            <button type="button" class="btn btn-default btn-circle btn-xl"><img src="img/zwrot.png"></button>
            REKLAMACJE I ZWROTY
            </div></a>
        <div class="col-xs-12 col-sm-6 col-md-4 footerFont1 ">
            <a href="regulations.php"><button type="button" class="btn btn-default btn-circle btn-xl"><i class="glyphicon glyphicon-list-alt"></i></button></a>
            REGUALMIN
            </div>
        <div class="col-xs-12 col-sm-6 col-md-4 footerFont1 ">
            <button type="button" class="btn btn-default btn-circle btn-xl"><img src="img/zwrot.png"></button>
            KONTAKT Z NAMI
            </div>

        <div class="col-xs-12 col-sm-12 col-md-12">
         <div class="col-xs-2 col-sm-3 col-md-3"></div>
         <div class="col-xs-2 col-sm-3 col-md-3"></div>
         <div class="col-xs-2 col-sm-3 col-md-3"></div>
         <div class="col-xs-6 col-sm-3 col-md-3 leftTextAlign">
                <br>
                IRON ALTAR<br><br>
                Tuszyn ul. 3-go.Maja 5<br><br>
                tel. 881 203 904<br><br>
                mail ironaltar@op.pl
         </div>
        </div>



</div> 

<div class="col-xs-6 col-sm-6 col-md-6 leftTextAlign">
    <strong>&copy;</strong> 2017 Iron Altar
</div>
<div class="col-xs-6 col-sm-6 col-md-6 rightTextAlign">
    Created &amp; Powered by <strong>ETRONIK & ZZSC<strong><br><br>
</div>
