<div class="row footer jumbotron marginTopBottom centerTextAlign"> 
 
            <div class="col-xs-12 col-sm-6 col-md-4 footerFont1 ">
                <button type="button" class="btn btn-default btn-circle btn-lg" onclick="location.href='text.php?col=delivery'">
                    <i class="fa fa-road fa social" aria-hidden="true"></i>
                    </button>
                    <span id="br"><br></span>
                DOSTAWA I TRANSPORT
            </div>

        <div class="col-xs-12 col-sm-6 col-md-4 footerFont1">
            <button type="button" class="btn btn-default btn-circle btn-lg" data-container="body"  
            data-toggle="popover" 
            title="Numer telefonu" 
            data-content="<a href='tel:881-203-904'>881 203 904</a>"
            data-html="true"
            data-placement="bottom">
                <i class="fa fa-phone fa social" aria-hidden="true"></i>
                </button>
                <span id="br"><br></span>
            MASZ PYTANIA? ZADZWOŃ
        </div>
        

        <div class="col-xs-12 col-sm-6 col-md-4 footerFont1 ">
            <button type="button" class="btn btn-default btn-circle btn-lg" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                <i class="fa fa-envelope fa social" aria-hidden="true"></i>
                </button>
                <span id="br"><br></span>
            FORMULARZ KONTAKTOWY
        </div>

      <!--<div class="col-xs-12 col-md-12 lineTwoBackgroundColor marginTopBottom">
            </div> -->
            <div class="col-xs-12 col-sm-6 col-md-4 footerFont1 ">
                <button type="button" class="btn btn-default btn-circle btn-lg" onclick="location.href='text.php?col=returns'">
                    <i class="fa fa-repeat fa social" aria-hidden="true"></i>
                    </button>
                    <span id="br"><br></span>
                REKLAMACJE I ZWROTY
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 footerFont1 ">
            <button type="button" class="btn btn-default btn-circle btn-lg" onclick="location.href='text.php?col=regulations'">
                <i class="fa fa-book fa social" aria-hidden="true"></i>
                </button>
                <span id="br"><br></span>
            REGUALMIN
        </div>
 
        <div class="col-xs-12 col-sm-6 col-md-4 footerFont1 ">
            <button type="button" class="btn btn-default btn-circle btn-lg" 
            data-toggle="popover" 
            data-container="body" 
            title="Dane Teleadresowe" 
            data-content="
                            IRON ALTAR
                            Tuszyn ul. 3-go.Maja 5
                            tel. 881 203 904
                            mail <a href='mailto: ironaltar@op.pl'>ironaltar@op.pl</a>"
            data-html="true"
            data-placement="bottom" >
                <i class="fa fa-address-book fa social" aria-hidden="true"></i>
                </button>
                <span id="br"><br></span>
            KONTAKT Z NAMI
        </div>

<!--
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="col-xs-2 col-sm-3 col-md-3"></div>
            <div class="col-xs-2 col-sm-3 col-md-3"></div>
            <div class="col-xs-2 col-sm-3 col-md-3"></div>
            <div class="col-xs-6 col-sm-3 col-md-3 leftTextAlign">
                    <br>
                    IRON ALTAR<br><br>
                    Tuszyn ul. 3-go.Maja 5<br><br>
                    tel. 881 203 904<br><br>
                    mail ironaltar@op.pl
            </div>
        </div>
-->

        <div class="leftTextAlign">
            <ul class="social"> 
                <li><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></li>
                <li><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></li>
                <li><i class="fa fa-pinterest fa-2x" aria-hidden="true"></i></li>
                <li><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></li>
                <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
                <li><i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></i></li>
            </ul>
        </div>

</div> 
<div class="col-xs-6 col-sm-6 col-md-6 leftTextAlign">
    <strong>&copy;</strong> 2017 Iron Altar
</div>
<div class="col-xs-6 col-sm-6 col-md-6 rightTextAlign">
    Created &amp; Powered by <strong>ETRONIK & ZZSC<strong><br><br>
</div>
