    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9" />

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="slick/slick.css" rel="stylesheet" type="text/css" />
    <link href="slick/slick-theme.css" rel="stylesheet" type="text/css"/>
    <link href="less/main.css" rel="stylesheet" type="text/css">
    <link href="css/preloader.css" rel="stylesheet" type="text/css">
    <link href="css/progressBar.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 8]>
    <link href="css/bootstrap-ie7.css" rel="stylesheet">
    <![endif]-->

    