<div id="Reading-progress">
  <span id="Progress-bar" class="bar"></span>
</div>

<div class="container-fluid">
    <button class="buttonTop" id="buttonTop"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
    <div class="row marginTop10 marginBottom10 marginSides10">
        <a href="index.php"><div class="col-xs-12 col-sm-6 col-md-6" id="logotyp"><img src="img/logotyp.gif" class="img-responsive" alt="Responsive image"></div></a>
        <a href="index.php"><div class="col-xs-12 col-sm-6 col-md-6" id="logotypnologo"><img src="img/logotypnologo.gif" class="img-responsive" alt="Responsive image"></div></a>
        
        <div id="numberMobile" class="col-xs-12 col-sm-6 col-md-6 centerTextAlign">
            <img src="img/tel.png">Zadzwoń do nas: <a href="tel:881-203-904">881 203 904</a> <br>
                <a href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap"><img src="img/mail.png"> 
                    Skontaktuj się z nami</a>
        </div>
        <div id="numberDesktop" class="col-xs-12 col-sm-6 col-md-6 rightTextAlign">
            <img src="img/tel.png">Zadzwoń do nas: 881 203 904<br>
                <a href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap"><img src="img/mail.png"> 
                    Skontaktuj się z nami</a>
        </div>
    </div>

    <div class="row" id="doubleLine">
        <div class="lineBackgroundColor">
        </div>
    </div>

    <div class="row centerTextAlign marginTopBottom" id="banner">
        <img src="img/banner.jpg" class="img-responsive" alt="Responsive image" width="100%">
    </div>

    <div class="row">
        <div class="lineBackgroundColor">
        </div>
    </div>

    <div class="row">
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="img/logotypnoname.gif" style="max-width:50px" class="img-responsive" alt="Responsive image"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="text.php?col=about">CO ROBIMY</a></li>
                        <li id="/buttonProducts"><a href="products.php">PRODUKTY</a></li>
                        <li><a href="text.php?col=individualOrders">INDYWIDUALNE PROJEKTY</a></li>
                        <li><a href="text.php?col=coop">WSPÓŁPRACA</a></li>
                        <li><a href="text.php?col=order">REALIZACJA ZAMÓWIENIA</a></li>
                    </ul>
                    </div>

                </div>
        </nav>
    </div>
    
    <div class="row">
        <div class="lineBackgroundColor">
            </div>
    </div>
