    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="slick/slick.min.js"></script>
    <script src="js/slickconfig.js"></script>
    <script src="js/preloader.js"></script>
    <script src="js/scrollProducts.js"></script>
    <script src="js/goToTop.js"></script>
    <!-- <script src="js/progressBar.js"></script> --> 
    <script src="js/popover.js"></script>
    <script src="js/gistfile1.js"></script>
    <script src="js/touchc.js"></script>
    <script src="js/lightbox.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

