<div class="row">
    <div class="lineBackgroundColor">
        </div>
</div>
        <div class="row">
        <div class="col-xs-12 col-md-4 col-md-4">
            <img src="img/products/arkab1.jpg" alt="..." class="img-thumbnail">
            <img src="img/products/arkab1.jpg" alt="..." class="img-thumbnail">
            </div>
        <div class="col-xs-12 col-md-8 col-md-8">
            <p>
                Stolik pomocniczy ARKAB 

Stolik arkab to mały funkcjonalny stolik pomocniczy do wielu zastosowań.
Ta minimalistyczna konstrukcja pasuje do każdego rodzaju wystroju a 
jego prosta i delikatna forma nadaje lekkości całemu prjektowi. Arkab mozna 
wykorzystać zarówno do małych jak i dużych wnetrz.


Wykonanie


Blaty w każdym z naszych produktów zostały wykonane z litego drewna dębowego 
i polakierowane wysokiej jakości lakierem bezbarwnym.
Konstrukcja wykonana została z certyfikowanej stali konstrukcyjnej i pomalowana proszkowo


Cena:  495 zł



Wymiary 

40cm x 40cm x 40cm (dł x szer x wys)                 grubosc blatu:   3cm


Materiał
	
Drewno dębowe / stal



Termin realizacji

około 14 dni roboczych
            </p>
            </div>

</div>

<div class="row">
    <div class="lineBackgroundColor">
        </div>
</div>